<form method="post" action="/post/{{if .isNewRecord}}create{{else}}update/{{.post.Id}}{{end}}">
    {{.xsrf}}
    <div class="form-group">
        <label for="title">标题</label>
        <input type="text" class="form-control" id="title" name="title" value="{{.post.Title}}" placeholder="请输入标题">
    </div>
    <div class="form-group">
        <label for="type">类型</label>
        <select class="form-control" id="type" name="type">
            {{range $index, $type := .types}}
            <option id="type_{{$index}}"  value="{{$index}}">{{$type}}</option>
            {{end}}
        </select>
    </div>
    <div class="form-group">
        <label for="url">内容路径</label>
        <input class="form-control" id="url" name="url" value="{{.post.Url}}" placeholder="请输入内容路径">
    </div>
    <div class="form-group">
        <label for="imageUrl">图片路径</label>
        <input class="form-control" id="imageUrl" name="imageUrl" value="{{.post.ImageUrl}}" placeholder="请输入图片路径">
    </div>
    <div class="form-group">
        <label>标签</label>
        {{range .labels}}
        <div class="checkbox">
            <label for="label_{{.Id}}">
            <input class="checkbox" type="checkbox" title="{{.Name}}" id="label_{{.Id}}" name="labels" value="{{.Id}}">{{.Name}}
            </label>
        </div>
        {{end}}
    </div>
    <div class="form-group">
        <label for="summary">概要</label>
        <textarea class="form-control" id="summary" name="summary" cols="15" rows="4">{{.post.Summary}}</textarea>
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <textarea class="form-control" id="remark" name="remark" cols="15" rows="4">{{.post.Remark}}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{if .isNewRecord}}添加{{else}}编辑{{end}}</button>
    </div>
</form>
<script>
	$(function () {
        {{if .isNewRecord}}
        {{else}}
		    $("#type_{{.post.Type}}").prop("selected", "selected");
		    {{range .hasLabels}}
		        $("#label_{{.LabelId}}").prop("checked", true);
		    {{end}}
        {{end}}
	});
</script>