<ol class="breadcrumb">
	<li><a href="#">首页</a></li>
	<li><a href="#">内容管理</a></li>
	<li><a href="/post">文章</a></li>
	<li class="active">详情</li>
</ol>

<p>
	<a class="btn btn-primary" href="/post/create">添加</a>
	<a class="btn btn-info" href="/post/update/{{.post.Id}}">修改</a>
	<a class="btn btn-danger" href="/post/delete/{{.post.Id}}">删除</a>
</p>

<table class="table table-bordered table-responsive">
	<thead>
	<tr>
		<th width="10%">属性</th>
		<th width="90%">名称</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Id</td>
		<td>{{.post.Id}}</td>
	</tr>
	<tr>
		<td>作者</td>
		<td>{{.user.Nickname}}</td>
	</tr>
	<tr>
		<td>内容路径</td>
		<td>{{.post.Url}}</td>
	</tr>
	<tr>
		<td>图片路径</td>
		<td><img width="90%" src="{{.post.ImageUrl}}"></td>
	</tr>
	<tr>
		<td>标签</td>
		<td>{{.labels}}</td>
	</tr>
	<tr>
		<td>说明</td>
		<td>{{.post.Summary}}</td>
	</tr>
	<tr>
		<td>备注</td>
		<td>{{.post.Remark}}</td>
	</tr>
	<tr>
		<td>状态</td>
		<td>{{.status}}</td>
	</tr>
	<tr>
		<td>创建时间</td>
		<td>{{.ctime}}</td>
	</tr>
	<tr>
		<td>更新时间</td>
		<td>{{.utime}}</td>
	</tr>
	</tbody>
</table>