<main class="col-md-9 main-content">
    {{range .posts}}
    <article class="post">
        <div class="post-head">
            <h1 class="post-title"><a href="/view/{{.Id}}">{{.Title}}</a></h1>
            <div class="post-meta">
                <span class="author">作者: <a href="#" target="_blank">{{.UserId | username}}</a></span> •
                <time class="post-date" datetime="{{.Ctime | todate}}" title="{{.Ctime | todate}}">{{.Ctime | todate}}</time>
            </div>
        </div>
        <div class="featured-media">
            <a href="/view/{{.Id}}"><img src="{{.ImageUrl}}" alt="{{.Title}}" /></a>
        </div>
        <div class="post-content">
            <p></p>
            <p>{{.Summary}}</p>
            <p></p>
        </div>
        <div class="post-permalink">
            <a href="/view/{{.Id}}" class="btn btn-default">阅读全文</a>
        </div>
        <footer class="post-footer clearfix"></footer>
    </article>
    {{else}}
    <p class="text-info text-center">暂时还没有内容...</p>
    {{end}}

    <!-- 不需要分页, 取最新的10篇文章足够 -->
    <!--<nav class="pagination" role="navigation">-->
        <!--<span class="page-number">第 1 页 / 共 7 页</span>-->
        <!--<a class="older-posts" href="/page/2/"><i class="fa fa-angle-right"></i></a>-->
    <!--</nav>-->
</main>

<aside class="col-md-3 sidebar">
    <div class="widget">
        <h4 class="title">引用说明</h4>
        <div class="content community">
            <p>{{.quote.Extra}}</p>
        </div>
    </div>
    <!-- 多个模块复制widget即可 -->
</aside>