<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>小步</title>
    <meta name="description" content="小步走路, 分享PHP, Go, Linux等技术知识和读书, 徒步体验。" />
    <meta name="keywords" content="PHP, Go, Linux, 读书, 徒步" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="/static/img/favicon.ico?v=0.2" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/markdown.css" />
</head>
<body class="home-template">
    <header class="main-header" style="background: green">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{.quote.Content}}</h1>
                </div>
            </div>
        </div>
    </header>
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu"><span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i></span>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="menu">
                            {{range .menus}}
                                <li role="presentation"><a id="cate_{{.Id}}" href="{{.Url}}" title="{{.Name}}">{{.Name}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                {{.LayoutContent}}
            </div>
        </div>
    </section>

    <footer class="main-footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="title">最新文章</h4>
                        <div class="content recent-post">
                            {{range .recent}}
                            <div class="recent-single-post">
                                <a href="/view/{{.Id}}" class="post-title">{{.Title}}</a>
                                <div class="date">
                                    {{.Ctime | todate}}
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="title">标签</h4>
                        <div class="content tag-cloud">
                            {{range .labels}}
                            <a href="/label/{{.Id}}">{{.Name}}</a>
                            {{end}}
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="title">友情链接</h4>
                        <div class="content tag-cloud friend-links">
                            {{range .links}}
                            <a href="{{.Url}}" title="Bootstrap中文网" target="_blank">{{.Title}}</a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>Copyright &copy; <a href="/">小步</a></span> |
                    <span><a href="https://github.com/zhgxun/step" target="_blank">GitHub</a></span> |
                    <span><a href="https://beego.me/" target="_blank">Beego</a></span>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/markdown.js"></script>
    <script>
        $(function () {
            $("#cate_{{.cateId}}").attr("style", "color: #f4645f; text-decoration: none; font-weight: bold;");
        });
    </script>
</body>
</html>