<form method="post" action="/user/create">
    <div class="form-group">
        <label for="nickname">昵称</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="请输入昵称">
    </div>
    <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="请输入邮箱">
    </div>
    <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
    </div>
    <div class="form-group">
        <label for="role">角色</label>
        <select class="form-control" id="role">
            {{range $index, $role := .roles}}
                <option value="{{$index}}">{{$role}}</option>
            {{end}}
        </select>
    </div>
    <button type="submit" class="btn btn-success">添加</button>
</form>