<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">内容</a></li>
    <li class="active">用户</li>
</ol>

<p>
    <button type="button" class="btn btn-success">添加</button>
</p>

<p class="text-info">共搜索到 <a class="text-success">3</a> 条符合条件的记录。</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>角色</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>zhgxun1989@163.com</td>
            <td>管理员</td>
            <td>可用</td>
            <td>
                <a href="#">编辑</a>&nbsp;&nbsp;|
                <a href="#">停用</a>&nbsp;&nbsp;|
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>zhgxun1989@163.com</td>
            <td>管理员</td>
            <td>可用</td>
            <td>
                <a href="#">编辑</a>&nbsp;&nbsp;|
                <a href="#">停用</a>&nbsp;&nbsp;|
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>zhgxun1989@163.com</td>
            <td>管理员</td>
            <td>可用</td>
            <td>
                <a href="#">编辑</a>&nbsp;&nbsp;|
                <a href="#">停用</a>&nbsp;&nbsp;|
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>zhgxun1989@163.com</td>
            <td>管理员</td>
            <td>可用</td>
            <td>
                <a href="#">编辑</a>&nbsp;&nbsp;|
                <a href="#">停用</a>&nbsp;&nbsp;|
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>zhgxun1989@163.com</td>
            <td>管理员</td>
            <td>可用</td>
            <td>
                <a href="#">编辑</a>&nbsp;&nbsp;|
                <a href="#">停用</a>&nbsp;&nbsp;|
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>zhgxun1989@163.com</td>
            <td>管理员</td>
            <td>可用</td>
            <td>
                <a href="#">编辑</a>&nbsp;&nbsp;|
                <a href="#">停用</a>&nbsp;&nbsp;|
                <a href="#">删除</a>
            </td>
        </tr>
    </tbody>
</table>