<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">内容管理</a></li>
    <li class="active">用户</li>
</ol>

<p>
    <a class="btn btn-primary" href="/user/create">添加</a>
</p>

<p class="text-info">共搜索到 <a class="text-success">{{.users | len}}</a> 条符合条件的记录。</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>角色</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {{range .users}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Nickname}}</td>
            <td>{{.Email}}</td>
            <td>{{.Role}}</td>
            <td>{{.Status}}</td>
            <td>
                <a href="/user/{{.Id}}">查看</a>&nbsp;&nbsp;|
                <a href="/user/update/{{.Id}}">编辑</a>&nbsp;&nbsp;|
                <a href="javascript:if(confirm('确定删除吗?')) location.href='/user/delete/{{.Id}}'">删除</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>