<ol class="breadcrumb">
	<li><a href="#">首页</a></li>
	<li><a href="#">内容</a></li>
	<li><a href="/user">用户</a></li>
	<li class="active">详情</li>
</ol>

<p>
	<a class="btn btn-primary" href="/user/create">添加</a>
	<a class="btn btn-info" href="/user/update/{{.user.Id}}">修改</a>
	<a class="btn btn-danger" href="/user/delete/{{.user.Id}}">删除</a>
</p>

<table class="table table-bordered table-responsive">
	<thead>
	<tr>
		<th>属性</th>
		<th>名称</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Id</td>
		<td>{{.user.Id}}</td>
	</tr>
	<tr>
		<td>昵称</td>
		<td>{{.user.Nickname}}</td>
	</tr>
	<tr>
		<td>邮箱</td>
		<td>{{.user.Email}}</td>
	</tr>
	<tr>
		<td>角色</td>
		<td>{{.role}}</td>
	</tr>
	<tr>
		<td>状态</td>
		<td>{{.status}}</td>
	</tr>
	<tr>
		<td>创建时间</td>
		<td>{{.ctime}}</td>
	</tr>
	<tr>
		<td>更新时间</td>
		<td>{{.utime}}</td>
	</tr>
	</tbody>
</table>