<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">内容管理</a></li>
    <li class="active">友情链接</li>
</ol>

<p>
    <a class="btn btn-primary" href="/link/create">添加</a>
</p>

<p class="text-info">共搜索到 <a class="text-success">{{.links | len}}</a> 条符合条件的记录。</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th width="10%">ID</th>
            <th width="10%">类型</th>
            <th width="20%">名称</th>
            <th width="35%">描述</th>
            <th width="10%">状态</th>
            <th width="15%">操作</th>
        </tr>
    </thead>
    <tbody>
        {{range .links}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{index $.types .Type}}</td>
            <td>{{.Title}}</td>
            <td>{{.Content}}</td>
            <td>{{index $.status .Status}}</td>
            <td>
                <a href="/link/{{.Id}}">查看</a>&nbsp;&nbsp;|
                <a href="/link/update/{{.Id}}">编辑</a>&nbsp;&nbsp;|
                <a href="javascript:if(confirm('确定删除吗?')) location.href='/link/delete/{{.Id}}'">删除</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>