<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">设置</a></li>
    <li class="active">引用</li>
</ol>

<p>
    <a class="btn btn-primary" href="/quote/create">添加</a>
</p>

<p class="text-info">共搜索到 <a class="text-success">{{.quotes | len}}</a> 条符合条件的记录。</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th width="5%">ID</th>
            <th width="10%">作者</th>
            <th width="25%">内容</th>
            <th width="40%">说明</th>
            <th width="5%">状态</th>
            <th width="15%">操作</th>
        </tr>
    </thead>
    <tbody>
        {{range .quotes}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Author}}</td>
            <td>{{.Content}}</td>
            <td>{{.Extra}}</td>
            <td>{{.Status}}</td>
            <td>
                <a href="/quote/{{.Id}}">查看</a>&nbsp;&nbsp;|
                <a href="/quote/update/{{.Id}}">编辑</a>&nbsp;&nbsp;|
                <a href="javascript:if(confirm('确定删除吗?')) location.href='/quote/delete/{{.Id}}'">删除</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>